body {
    min-height: 100vh;
}
.content-box {
    min-height: 100vh;
}
.bg-color {
    background-color: #2a2a2a;
}
footer {
    background-color: #e6e6e6;
}
.container {
    width: 1170px;
}
h4 > strong {
    color: #2a2a2a;
}
.bg-danger {
    background-color: #f2dede !important;
}
.bg-success {
    background-color: #dbf5d3 !important;
}
.bg-danger > .card-header {
    color: #d9534f;
}
.bg-success > .card-header {
    color: #569845;
}
.footerItem {
    color: inherit;
}
